# *Variables*

Variables are nothing but place holders to store the literal values. Variables can be accessed by their names and some rules have to be followed while naming variables
Naming conventions for variables.

• A variable name can only contain alphabets, numbers and under score

• A variable name can only start with an underscore or an alphabet

• A variable name can' be the same as any keyword(keywords are sequences of characters which have some special meaning to them)

• A variable name can have any spaces between the various parts of the variabie. If we want to distinguish them, we can use and underscore or make the variable name CamelCase.

variable_name VariableName

- It is suggested that we make our variabele names as descriptive as possible

age = 21 age = 21

In [6]:
var=input("Enter your Name ")

Enter your Name Niketh

In [7]:
var

'Niketh'

In [10]:
var=1
var=2

In [11]:
print(1)
print(2)

1
2

In [13]:
print("O")
print('|',end="")
print('------')
print('|       |')

O
|------
|       |

In [16]:
var = 10

In [39]:
# Case Sensitive mnuemonic
age_of_males=41
AgeOfFemales=3  #Camel Case

In [38]:
age_of_males

41

In [40]:
AgeOfFemales

3

In [41]:
#useless
x,_y=1,2

In [42]:
x

1

In [43]:
_y

2

In [63]:
#useless
x, y, z = 1, 2.5 ,"Hello"

In [60]:
type(x)

int

In [64]:
type(y)

float

In [62]:
type(z)

str

In [65]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

# *Boolean Values*

In [79]:
False
type(True)

bool

In [85]:
5>1

True

In [72]:
x=True
y=False

In [73]:
x

True

In [78]:
None

In [76]:
y

False

In [82]:
age= int(input('Enter Your Age'))

Enter Your Age23

In [83]:
type(age)

int

In [84]:
int(1.5)

1

In [87]:
age=int(age)

# *Literals and Variables*

In [1]:
r"strn\'g"

"strn\\'g"

In [8]:
Age = 29

In [10]:
f'your age is Age'

'your age is Age'

In [11]:
for i in range(1,10):
    print(i)
    for j in range(1,3):
        print(j)

1
1
2
2
1
2
3
1
2
4
1
2
5
1
2
6
1
2
7
1
2
8
1
2
9
1
2

#  *Model Building*

In [ ]:
from sklearn.linear model import

# *Writing Comments in Python*


Commant is not a python statement and thus is ignored by python Interpreter. But, & is plain tend that documents what the program is and how it is construcied.
It is siways good to wile a commend that describes purpose af each statamend included in a program.
It Increases readabity of the progrum.
I
in Python, one can write comments as:
1. Single Ene comment starting with a pound (# ign
2. Paragraph comment that starts and ends with fires conseculive single quotes (") or three consecutive double quotes
()

# *Python Keywords*

Keywords are the pre-defined or bust-in words whose meaning is atready known to python interpreter.
Keywords are the reserved words in python
We can't use a keyword as variable Tame, function name or any other identifie
All the keyworda axcept True, False and None are in lowercase and they must be written as

# *Identifiers*


Identifers can be a combination of letters in lowercase (a to 2) or uppercase (A to 2) or digits (0 to 9) or an underscore
O.
2. An identifier cannot start with a digit. 1variable is invalld, but variable is perfectly fine

3. Keywords cannot be used as kenthers.

4. No special symbol can be used

5. An identder can be of any length.

Note-1:

• Python is a case-sensitive language. This means, the identifiers amount. AMOUNT, and aMouNT are not the same

• Aways name identibera that make sense. For axample, num la meaningful compared to x

• Multiple words can be separated using an underscore. Ex, compound Intereat

• We can also use camal-case style of writing. Le., capitalize every first letter of the word except the initial word wahol spaces. For example: camelCase Example

In [16]:
Ava12345_=123

In [17]:
Ava12345_sa111111111111=12

In [20]:
_vari=1

In [21]:
var_i=1

# *Type Conversion*

You can convert one variable type to another type using type(value)

In [4]:
# Preform 

var1=55 #change to float
var2=47.6 """change to int"""
var3=98 """change to str"""

SyntaxError: invalid syntax (2874655119.py, line 2)

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.